html, body {
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #f52010;
}

#header-img {
    width: 16.5em;
    margin-left: 3em;
    animation-name: img-anim;
    animation-duration: 1.5s;
}

@keyframes img-anim {
    0% {
        opacity: 0%;
        margin-left: 0;
    }
    100% {
        opacity: 100%;
        margin-left: 3em;
    }
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50em;
    /* border: 1px solid black; */
}

.nav-link {
    box-sizing: border-box;
    width: 13em;
    border-style: solid;
    border-width: 0 0 0.5em 0;
    border-color: white;
    height: 3.58em;
    margin: 0 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    animation-name: border;
    animation-duration: 2s;
}

@keyframes border {
    0% {
        opacity: 0%;
    }
    
    100% {
        opacity: 100%;
    }
}

.nav-link:hover {
    background: linear-gradient(0deg, white, white, transparent);
    color: #f52010;
}

.nav-link p {
    font-size: 1.24em;
    font-family: 'Dela Gothic One', "Copperplate", fantasy;
    animation-name: navlink;
    animation-duration: 1.5s;
}

@keyframes navlink {
    0% {
        font-size: 0.24em;
        opacity: 0%;
    }
    
    100% {
        font-size: 1.24em;
        opacity: 100%;
    }
}

@media (max-width: 69.5em) {

    #header-img {
        margin: 0;
        width: 24vw;
    }
}

@media (max-width: 60em) {
    
    #nav-bar {
        justify-content: space-between;
    }
    
    .nav-link {
        flex-basis: 30%;
        margin: 0;
        font-size: 1.8vw;
        
    }
}

#feed {
    width: 100%;
    margin: 10vw auto 20px auto;
    max-width: 1000px;
}

#features {
    margin-bottom: 50px;
}

#features > div {
    display: flex;
    box-sizing: border-box;
    padding-top: 3.75vw;
}

#features h1 {
    text-align: center;
    font-family: 'Dela Gothic One', "Copperplate", fantasy;
}

#features p {
    margin: 0 3.75vw;
    font-family: 'Dela Gothic One', "Copperplate", fantasy;
    text-align: justify;
}

.features-img {
    height: 100%;
    max-width: 200px;
    align-self: center;
}

.features-img + div {
    align-self: flex-start;
}

@media (max-width: 60em) {
                    
    #features > div {
        flex-direction: column;
    }
    
    .features-img {
        align-self: center;
        max-width: 60%;
    }
    
}

#advertisement {
    margin: 7em auto 3.75em auto;
    width: 100%;
    position: relative;
}

#advertisement iframe {
    display: block;
    position: absolute;
    top: 9%;
    left: 50%;
    margin-left: -222px;
    z-index: 1;
    width: 100%;
    max-width: 365px;
    height: 49.25%;
}

#tv-image {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: 0 auto;
    pointer-events: none;
    position: relative;
    z-index: 10;
}

@media (max-width: 550px) {
    #advertisement iframe {
        left: 50vw;
    }
}

#product-pricing {
    display: flex;
    justify-content: space-between;
}

.product {
    min-height: 450px;
    box-shadow: 0 0 3px 3px #f52010;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    font-family: 'Dela Gothic One', "Copperplate", fantasy;
    text-align: center;
}

.product div:first-child {
    text-align: center;
    background-color: #f52010;
    border-radius: 8px 8px 0 0;
    font-size: 25px;
    color: white;
}

.product p {
    text-align: justify;
    padding: 1vw;
    font-size: 14px;
    margin-top: -5px;
    height: 40px;
}

.product img {
    width: auto;
    height: 200px;
    margin: 10px auto;
}

.product h1 {
    background-color: #f52010;
    color: white;
}

.product button {
    border: none;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f52010;
    color: white;
}

.product button:hover {
    color: #f52010;
    background-color: white;
    box-shadow: 0 0 5px 5px #f52010;
}

@media (max-width: 1000px) {

    #product-pricing {
        flex-direction: column;
        align-items: center;
        padding: 0 5vw;
    }
    
    .product {
        max-width: 500px;
        margin-bottom: 5vw;
    }
    
    .product img {
        height: auto;
        width: 100%;
        margin: 10px auto;
    }
}

#newsletter {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Dela Gothic One', "Copperplate", fantasy;
}

form {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

form * {
    height: 100%;
    font-family: inherit;
    box-sizing: border-box;
}

#submit {
    border: none;
    width: 25%;
    cursor: pointer;
    background-color: #f52010;
    color: white;
    border-radius: 10px;
}

#submit:hover {
    color: #f52010;
    background-color: white;
    box-shadow: 0 0 5px 5px #f52010;
}

#email {
    width: 65%;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

#email:focus {
    border-radius: 10px;
    border: 2px solid #f52010;
    background-color: pink;
}